@charset "UTF-8";

.Titulo{
	background-color: #581845;
	color: white;
	}
	
.Menu{
	background-color: #900C3F;
	padding-top: 1px;
}


h1 {
	background-color: lightblue;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
h3 {
	padding: 0px;
	border: 0px;
	text-align: center;
	background-color: lightgray;
	color: black;
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
	margin: 0px;
	border: solid black 2px;
}


.container{
	
	background-color: dodgerblue;
	height: 100%;
	width: 100%;
}

button{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: darkorange;
	font-size: 20px;
	border-radius: 100px;
	margin-left: 20%;
	
}


.scroll  {
	
	height: 300px;
	width: 300px;

	float: inline-start;
	border:0px;
	margin-left: 200px;
	margin-top: 90px;
	margin-bottom: 90px;
	overflow: auto;
	
	
}



.scroll2  {
	
	height: 300px;
	width: 100px;
	float: inline-end;
	border:0px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 90px;
	text-align: center;
	font-size:35px;

	
	
}


.scroll3  {
	
	height: 300px;
	width: 300px;
	float: inline-end;
	border: 0px;
	
	margin-top: 90px;
	margin-right: 200px;
	margin-bottom: 90px;
	overflow: auto;
}

.b{
	margin-bottom: 30px;
	
}

.Pagina01{
	
	margin-top: 30px;

}
.pie{
	height: 90px;
	text-align: center;
	background-color: gray;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
	
	margin-top: 40px;
	
	
}


.contacto{
	float: inline-start;
	border: 2px solid black;
	width: 400px;
	margin-left: 400px;
	padding: 20px;
	padding-top: 10px;
	align-items: center;

	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center; 
	margin: 0px;
	padding: 100px;
	
	

}


input {
	margin-bottom: 5px;
}

.img{
	height: 150px;
	width: 200px;
	float: inline-start;
	background-color: yellow;
	margin-left: 120px;
}

.noti1{
	height: 100px;
	width: 600px;
	float: inline-end;
	padding-top: 20px;
	padding-right: 100px;
	
}




.img2{
	height: 150px;
	width: 200px;
	clear: both;
	float: inline-end;
	margin-right: 120px;

}

.noti2{
	height: 100px;
	width: 600px;
	padding-top: 30px;
	float: inline-start;
	padding-left: 50px;
	padding-bottom: 50px;
	
}


.img03{
	
	
	padding-top: 50px;
	padding-left: 50px;
	height: 300px;
	width: 300px;
}


.img02{
	
	
	
	padding-right: 200px;
	height: 300px;
	width: 300px;
	padding-bottom: 50px;
}

footer{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color: white;
	background-color: gray;
	height: 100%;
	width: 100%;
	clear: both;
}